.section-footer {
  margin-top: 150px;
}
.section-footer p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.footer-img {
  margin-right: 16px;
}

.footer-bold p {
  font-weight: 600;
}

.btn-footer {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}
.btn-border {
  border-radius: 4px;
}

.footer-img {
  margin-right: 16px;
}
